---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Thank you" description="Message received.">
  <section class="thanks-page">
    <div class="wrapper">
      <div class="meta-text meta-text--accent">Message received</div>
      <h1>Got your message</h1>
      <p>Thank you for getting in touch. I will get back to you shortly.</p>
      <a href="/" class="foundry-button foundry-button--primary">Back to homepage</a>
    </div>
  </section>
</Layout>
